// colors
$white: #fff;
$black: #000;
$gray: #2D2D2D;
$lightGray: #E3E3E3;


// fonts
$mainFont: montserrat, sans-serif;
$secondaryFont: cormorant sans-serif;
$logoFont: inter, sans-serif;
$buttonFont: sf-ui-text, sans-serif;
$linkFont: lato, sans-serif;

