// colors
$white: #fff;
$black: #000;
$gray: #2D2D2D;
$lightGray: #E3E3E3;


// fonts
$mainFont: Montserrat,
sans-serif;
$secondaryFont: Cormorant,
sans-serif;
$logoFont: Inter,
sans-serif;
$buttonFont: sf-ui-text,
sans-serif;
$leadFont: Lato,
sans-serif;

// screens

$tablet: 'min-width: 747px';
$desktop: 'min-width: 1024px'