@import './utils';
@import './components';
@import './layout';

.divider {
    height: 50px;
}

.container {
    max-width: 1180px;
    margin: auto;
    // font-family: $mainFont;
}

.ui__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
}
